<div style="padding-bottom: 20px;">
    <div class="container">
        <div id="filter-container">
            <div class="col">
                <h5>Filter</h5>
                <form method="POST" id="form-sort" name="form-sort" action="/finder/sort" style="max-width: 5em;">
                    <select name="sort" id="sort" class="selectpicker" style="visibility: visible">
                        <option value="" disabled selected>Sort by</option>
                        <option value="ageAsc">Age Ascending</option>
                        <option value="ageDesc">Age Descending</option>
                        <option value="popularityHigh">Popularity High</option>
                        <option value="popularityLow">Popularity Low</option>
                        <option value="location">Nearest Location</option>
                        <option value="sameTags">Common tags</option>
                    </select>
                </form>
            </div>
            <br>

                <h5>Advanced search</h5>
            <form method="POST" id="form-filter" name="form-filter" action="/finder/filter">
                <select name="filterAge" id="filterAge" class="selectpicker">
                    <option value="" disabled selected>Age</option>
                    <option value="18-25">18-25</option>
                    <option value="25-35">25-35</option>
                    <option value="35-50">35-50</option>
                    <option value="50-70">50-70</option>
                    <option value="70-120">70+</option>
                </select>
                <select name="filterDistance" id="filterDistance" class="selectpicker">
                    <option value="" disabled selected>Distance</option>
                    <option value="0-10">10 km</option>
                    <option value="0-30">30 km</option>
                    <option value="0-100">100 km</option>
                    <option value="0-500">500 km</option>
                    <option value="0-20000">500+ km</option>
                </select>
                <select name="filterPopularity" id="filterPopularity" class="selectpicker">
                    <option value="" disabled selected>Popularity</option>
                    <option value="0-5">0-5</option>
                    <option value="5-20">5-20</option>
                    <option value="20-50">20-50</option>
                    <option value="50-100">50-100</option>
                    <option value="100-20000">100+</option>
                </select>
                <select name="filterTags" id="filterTags" class="selectpicker">
                    <option value="" disabled selected>Tags in common</option>
                    <option value="1-3">1-3</option>
                    <option value="3-6">3-6</option>
                    <option value="6-9">6-9</option>
                    <option value="9-13">9+</option>
                </select>
            </form>
        </div>
    </div>
</div>