<div style="padding-bottom: 20px;">
    <div class="container">
        <div class="col" id="search-container">
            <div>
                <h5>Search by</h5>
            </div>
            <form method="POST" id="form-search" name="form-search" action="/search">
                <select name="searchAge" id="searchAge" class="selectpickerSearch">
                    <option value="" disabled selected>Age</option>
                    <option value="18-25">18-25</option>
                    <option value="25-35">25-35</option>
                    <option value="35-50">35-50</option>
                    <option value="50-70">50-70</option>
                    <option value="70-120">70+</option>
                </select>

                <select name="searchPopularity" id="searchPopularity" class="selectpickerSearch">
                    <option value="" disabled selected>Popularity</option>
                    <option value="0-5">0-5</option>
                    <option value="5-20">5-20</option>
                    <option value="20-50">20-50</option>
                    <option value="50-100">50-100</option>
                    <option value="100-20000">100+</option>
                </select>

                <select name="searchDistance" id="searchDistance" class="selectpickerSearch">
                    <option value="" disabled selected>Distance</option>
                    <option value="0-10">10 km</option>
                    <option value="0-30">30 km</option>
                    <option value="0-100">100 km</option>
                    <option value="0-500">500 km</option>
                    <option value="0-20000">500+ km</option>
                </select>

                <select name="searchTags" id="searchTags" class="selectpickerSearch">
                    <option value="" disabled selected>Tags in common</option>
                    <option value="1-3">1-3</option>
                    <option value="3-6">3-6</option>
                    <option value="6-9">6-9</option>
                    <option value="9-13">9+</option>
                </select>
                <input type="submit" id="btn-search-submit" name="btn-search-submit" class="btn btn-outline-primary" value="Submit">
            </form>
        </div>

    </div>
</div>