<h1>Account confirmation</h1>
<p>Please enter the key from your email:</p>
<form action="" name='token_key' method="POST">
<div class="form-group"></div>
<input type="text" id="key_token" name="key_token" class="form-control"><br>
<button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
