<h1>Password Update</h1>
<p>Please enter the key from your email</p>

<form action="" name='token_key' method="POST">
<label for="key_token">Key</label>
<input type="text" id="key_token" class="form-control" name="key_token">
<label for="password">New Password</label>
<input type="password" id="password" class="form-control" name="password">
<label for="password">Confirm new Password</label>
<input type="password" id="password" class="form-control" name="conf_password">
<br>
<button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>

