<h1>Password Reset</h1>
  <p>Please enter your email to reset your password:</p>
<form action="" name='email' method="POST">
<div class="form-group"></div>
<input type="email" id="email" class="form-control" name="email"><br>
<button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>