<div style="padding-bottom: 150px;">
  <h1>Sign Up</h1>
  <br>
  <!-- Errors message -->
  {{#if error}}
  <div class="alert alert-danger">
    <strong>Sorry:</strong> {{ error }}
  </div>
  {{/if }}
  
  <form action="" method="POST">

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Enter first name">
    </div>

    <div class="form-group">
      <label for="username">Last Name</label>
      <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Enter last name">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Enter email address">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
      <small id="password" class="form-text text-muted">8 chars min. At least 1 uppercase and 1 number.</small>
    </div>

    <div class="form-group">
      <label for="password_conf">Confirm Password</label>
      <input type="password" name="password_conf" class="form-control" id="password_conf"
        placeholder="Confirm password">
      <small id="password_conf" class="form-text text-muted">8 chars min. At least 1 uppercase and 1 number.</small>
    </div>

    <button type="submit" class="btn btn-primary" value="Sign up">Submit</button>
  </form>
</div>