<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="color:#EB6864;font-size: 1.3em"><i class="glyphicon glyphicon-fire"></i>Matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/auth/signup">Sign Up <i class="glyphicon glyphicon-pencil"></i><span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>